<template name="gameflow">
  <div class="text-center" style="padding:10px; ">
  <div class="title ">
    {{cardCzar}}
  </div>
  {{# if isCzar}}
    {{#if waiting_count}}
    {{>game_flow_waiting}}
    {{/if}}
  {{else}}
  <div class="blackCardShort">
      {{blackCard}}
  </div>
  {{>whitecard number=1}}
  {{# if is2Cards}}
     {{>whitecard number=2}}
  {{/if}}
  {{#if cards_duplicate}}
    <a href="#" class="btn btn_disable btn-submit" id="submit_canceled">Submit</a><br>(Can't use the same card for both.)
  {{else}}
    <a href="#" class="btn btn-submit" id="sub_play">Submit</a>
  {{/if}}
  {{/if}}
</div>
</template>
<template name="whitecard">
  <div class="main-login-form">
    <button class="card_prev login-button" data-ptr="{{number}}"><i class="card_prev fa fa-chevron-left"></i></button>
    <div class="whiteCard">
       {{cardText number}}<br>
    </div>
    <button class="card_next login-button" data-ptr="{{number}}"><i class="card_prev fa fa-chevron-right"></i></button>
  </div>
</template>
<template name="show_plays">

</template>
<template name="game_flow_waiting">
  <div class="text-center" style="padding:10px; ">
    <div class="blackCardShort">
      {{blackCard}}
    </div><br/>
      <div class="login-form-1">
        <div class="body-group">
            <table>
            <tr><td><div class="logo">Waiting on...</div></td></tr>
            {{#each waitingOnUsers}}
             <tr><td>{{name}}</td></tr>
            {{/each}}
          </table>
        </div>
      </div>
  </div>
</template>
