<template name="game">
  {{#if needs_game}}
    {{>need_game}}
  {{else}}
    {{>preStart}}
  {{/if}}
</template>
<template name="need_game">
  <div class="text-center" style="padding:50px 0">
	<div class="logo">BEhaTs</div>
	<!-- Main Form -->
	<div class="login-form-1">
		<form id="login-form" class="text-left">
			<div class="login-form-main-message"></div>
			<div class="main-login-form">
				<div class="login-group">
      <a href="/new" class="btn btn-primary" id="new">New Game</a><br><br>
      <a href="/join" class="btn btn-primary" id="new">Join Game</a><br><br>
      <a href="/rejoin" class="btn btn-primary" id="new">Return to Game</a><br><br>
    </div>
      </div>
    </form>
    </div>
<!-- end:Main Form -->
</div>
</template>
<template name="joingame">
  <div class="text-center" style="padding:50px 0">
	<div class="logo">Join Game</div>
  <div class="login-form-1">
      <div class="login-form-main-message"></div>
      <div class="main-login-form">
        <div class="login-group">
          <div class="form-group">
            <label for="game_code" class="sr-only">Join Game</label>
            <input type="text" class="form-control" id="game_code" placeholder="Game Code">
          </div>
        </div>
        <button class="login-button" id="JOIN"><i class="fa fa-chevron-right"></i></button>
      </div>
      <div class="etc-login-form">
        <p>Enter the Game Code provided by the creator of the game.<br><br></p>
      </div>
  </div>
</div>
</template>
<template name="rejoingame">
  <div class="text-center" style="padding:50px 0">
	<div class="logo">Re-Enter Game</div>
  <div class="login-form-1">
      <div class="login-form-main-message"></div>
      <div class="main-login-form">
        <div class="login-group">
          <div class="form-group">
            <label for="game_code" class="sr-only">Re-Enter Game</label>
            <input type="text" class="form-control" id="game_code" placeholder="Game Code">
            <input type="text" class="form-control" id="lg_username" placeholder="Name/Alias">
            <input type="text" class="form-control" id="lg_password" placeholder="PIN">
          </div>
        </div>
        <button class="login-button" id="JOIN"><i class="fa fa-chevron-right"></i></button>
      </div>
      <div class="etc-login-form">
        <p>Please re-enter the Name/Alias & PIN used when you initially joined/created the game.<br><br></p>
      </div>
  </div>
</div>
</template>

<template name="newuser">
  <script>setTimeout(function(){
  $('#lg_username').focus();
}, 500);</script>
  <div class="text-center" style="padding:10px 0">
	<div class="logo">Name & PIN</div>
	<!-- Main Form -->
	<div class="login-form-1">
			<div class="login-form-main-message"></div>
			<div class="main-login-form">
				<div class="login-group">
					<div class="form-group">
						<label for="lg_username" class="sr-only">Name/Alias</label>
						<input type="text" class="form-control" id="USER" placeholder="Name/Alias">
					</div>
					<div class="form-group">
						<label for="lg_password" class="sr-only">PIN</label>
						<input type="password" class="form-control" id="PIN" placeholder="PIN">
					</div>
          <div class="form-group">
						<label for="lg_password" class="sr-only">Re-enter PIN</label>
						<input type="password" class="form-control" id="REPIN" placeholder="Re-Enter PIN">
					</div>
				</div>
				<button class="login-button" id="next"><i class="fa fa-chevron-right"></i></button>
			</div>
			<div class="etc-login-form">
				<p>Establishing Name/Alias & PIN allows you to return to the game if you were to get disconnected (as long as you also have the game code).<br><br></p>
			</div>
	</div>
	<!-- end:Main Form -->
</div>
</template>
<template name="lp">
<div class="text-center" style="padding:10px 0">
<div class="logo" id="query">When did you last poop?</div>
<!-- Main Form -->
<div class="login-form-1">
    <div class="login-form-main-message"></div>
    <div class="main-login-form">
      <div class="login-group">
        <div class="form-group">
          <select id="LP">{{lpchoices}}</select>
        </div>
      </div>
      <button class="login-button" id="next"><i class="fa fa-chevron-right"></i></button>
    </div>
    <div class="etc-login-form">
      <p id="lphelp"><a href="#" id="what">Huh?</a><br><br></p>
    </div>
</div>
<!-- end:Main Form -->
</div>
</template>
<template name="preStart">
  <div class="text-center" style="padding:10px; ">
    <div class="login-form-1">
  <div class="body-group">
      <table>
        <tr><th class="head">Player</th><th>{{#if getting_started}}Excement Testament{{else}}Score{{/if}}</th></tr>
      {{# with gameUsers}}
      {{#each gameUsers}}
       <tr><td>{{name}}</td><td>{{#if getting_started}}{{lptext lp}}{{else}}{{score}}{{/if}}</td></tr>
      {{/each}}
      {{/with}}
    </table>
  </div>{{#if showStart}}<br><div class="body-group">You may start the game at any time.  However, only those who are list above will play the first round.</div>
  <a href="/start" class="btn btn-primary" id="start">Start Game</a><br><br>{{/if}}
</div>
</div>

</template>
